<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzwing.mybatisspringxmldemo.mapper.ProductCategoryMapper" >
    <resultMap id="BaseResultMap" type="ProductCategory" >
        <id column="category_id" property="categoryId" jdbcType="INTEGER" />
        <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
        <result column="category_type" property="categoryType" jdbcType="INTEGER" />
    </resultMap>

    <sql id="base_column" >
        category_id,category_name,category_type
    </sql>
    <select id="selectByCategoryType" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select <include refid="base_column" />
        from product_category
        where category_type = #{category_type,jdbcType=INTEGER}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="base_column" />
        from product_category
    </select>

    <select id="countItem" resultType="java.lang.Integer">
        select count(*) from product_category
    </select>

</mapper>